/* Banner section  */
.banner-section{
    background-color:  #264653;
    width: 100%;
    height: 580px;
}
/* Banner section  */

/* <!-- Fetured bike start --> */
.gray{
    filter: grayscale(100%);

}
.feture-bikes-text{
    color:  #E76F51;
    font-size: 14px;
}

