@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  /* common style*/
*{
    font-family: 'Poppins', sans-serif;
}

/* Banner section  */
.banner-section{
    background-color:  #264653;
    width: 100%;
    height: 670px;
}
.top-text{
    font-weight: 600;
    font-size: 48px;
}
.small{
    font-size: 14px;
    font-weight: 300;
}
.top-img img{
  width: 90%;
 
}
/* Banner section  */

/* <!-- Fetured bike start --> */
.gray{
    filter: grayscale(100%);

}
.feture-bikes-text{
    color:  #E76F51;
    font-size: 14px;
}
/* Fetured bike end */

/* <!-- service area start --> */
.card img{
    width: 149px;
    height: 149px;
}
.card-text{
margin-left: 30px;
}

.fas{
  color: #E77C40;
}
.far {
    color: #E77C40; 
}
.text-heading{
    color: #E76F51;
}
.client-name{
    color:#23A6F0;
    ;
}
.profession-client{
    color: #252B42;   
     font-weight: 600;
}
/* <!-- service area start --> */

/* modal area */
.modal-text{
    color: #E76F51;
   
}
.button-modal{
   background-color: #E76F51;
   border: 0;
   width: 168px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
/* <!-- ---------Bonus part 1------------ --> */
.slider-bg{
    background-color: #264653;

}
/* <!-- ---------Bonus part 1------------ --> */

.up-comming img{

}

/* ---------footer------ */
.footer-background{
    background-color: #264653;
}